<ion-content padding class="o-scroll">

  <!-- title -->
  <div *ngIf="!initState" class='center_text' text-center>
     <h2 class='logo-text'>
       <strong>{{ph.title}}&#8482;</strong>
     </h2>
  </div>

  <!-- LoginForm -->
  <form  *ngIf="initState" [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-label color='primary' stacked>{{'EMAIL'|translate}}</ion-label>
      <ion-input  formControlName="email" type="email" placeholder="{{'EMAIL'|translate}}"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
      <ion-label color='primary' stacked>{{'PASSWD'|translate}}</ion-label>
      <ion-input  formControlName="password" type="password" placeholder="{{'PASSWD'|translate}}"
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      {{'LOGIN'|translate}}
    </button>
  </form>

  <!-- Create new account and Forgot password buttons in loginForm -->
  <button *ngIf="initState" color='light'ion-button block clear (click)="goToSignup()">
    {{'CREATE_NEW_ACCOUNT'|translate}}
  </button>
  <button *ngIf="initState" color='light' ion-button block clear (click)="goToResetPassword()">
    {{'FORGOT_PASSWD'|translate}}
  </button>

  <!-- Login and signup buttons -->
  <div class='o_section'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button *ngIf="!initState" color='primary'ion-button block (click)="initState = true">
            {{'LOGIN'|translate}}
          </button>
        </ion-col>
        <ion-col>
          <button *ngIf="!initState" color='primary'ion-button block (click)="goToSignup()">
            {{'SIGNUP'|translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
