page-estimate-result {
    .button{
        
            height: 50px;
        }
        .butt{
         
            display: inline-table;
            height: 50px;
            width: 90%;
          
           
        }
     
        #envelope{
         height: auto;
         width: 6em;
     }
}
