page-home {

  ion-scroll {
    height: 60vh;
  }

  .itemHeight {
    height: 10vh !important;
  }

  .itemselect {
    z-index: 3;
    margin-left: 6%;
    margin-right: 6%;
    //background: white;
    padding: 10px;
    //border-radius: 4px;
    //margin-top: 20px;
    //margin-top: -50px;
  }

  .topBar {
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 3;
    background: linear-gradient(rgba(7, 7, 7, 0.041), rgba(0, 113, 148, 0));

    ion-icon {
      padding: 5px;
    }
    .button-right {
      float: right;

    }

    // @media only screen and (min-width: 768px) {
    //   .button-right{
    //     float: right;
    //   }
    //   }

  }

  .hidden {
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.7s;
    animation-iteration-count: 1;

  }

  ion-content {

    @keyframes left_right {
      0% {
        left: 75%;
      }

      50% {
        left: 80%;
      }

      100% {
        left: 75%;
      }
    }

    @keyframes wiki {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes bump {
      0% {
        top: 100%;
      }

      // 50% {top: 90%;}

      100% {
        top: 85%;
      }
    }

    [noScroll] {
      overflow: hidden;
    }

    .bars {
      margin-top: 13%;
      padding-top: 18px;

      .pointer {
        z-index: 5;
        margin-left: 1%;
        background: color($colors, bar-color, base);
        border-left: 1.1px solid color($colors, nav-border-bottom, base);
        border-right: 1.1px solid color($colors, nav-border-bottom, base);
        border-top: 1px solid color($colors, nav-border-bottom, base);
        border-bottom: 1px solid color($colors, nav-border-bottom, base);
      }

      .bars-locate {
        height: 50px;
        width: 90%;
        background: color($colors, bar-color, base);
        border-left: 1.1px solid color($colors, nav-border-bottom, base);
        border-right: 1.1px solid color($colors, nav-border-bottom, base);
        border-top: 1px solid color($colors, nav-border-bottom, base);
        border-bottom: 1px solid color($colors, nav-border-bottom, base);
        margin: -12% 0 0 -50px;
        margin-left: 5%;

        box-shadow: 8px 8px 8px color($colors, nav-shadow, base);
        z-index: 3;
        // border: 1px solid color($colors, nav-border-bottom, base);
        border-radius: 4px;
        overflow: hidden;
        line-height: 20px;
        font-size: 1.2em;
        text-align: center;

        ion-icon {
          position: absolute;
          font-size: 1em;
          left: 2%;
          color: color($colors, primary, base);
          padding: 5px;
        }

      }

      .bars-destinate {
        height: 50px;
        width: 90%;
        background: color($colors, bar-color, base);
        margin: 3% 0 0 -50px;
        margin-left: 5%;
        box-shadow: 8px 8px 8px color($colors, nav-shadow, base);
        z-index: 3;
        border-left: 1.1px solid color($colors, nav-border-bottom, base);
        border-right: 1.1px solid color($colors, nav-border-bottom, base);
        border-top: 1px solid color($colors, nav-border-bottom, base);
        border-bottom: 1px solid color($colors, nav-border-bottom, base);
        overflow: hidden;
        border-radius: 4px;
        line-height: 20px;
        font-size: 1.2em;
        text-align: center;

        ion-icon {
          position: absolute;
          font-size: 1em;
          left: 2%;
          padding: 5px;
          color: color($colors, gery, base);

        }
      }

    }

    .reset {
      height: 5%;
      width: 10%;
      background: color($colors, bar-color, base);
      position: absolute;
      margin-left: 85%;
      top: 12%;
      margin-top: 0%;
      z-index: 1;
      border: 1px solid color($colors, nav-border-bottom, base);
      border-radius: 4px;
      font-size: 1.5em;
      text-align: center;

      ion-icon {
        margin-top: 4%;
      }
    }

    .bars-gps {
      height: 50px;
      width: 90%;
      background: color($colors, secondary, base);
      position: absolute;
      margin: -50px 0 0 -50px;
      margin-left: 5%;
      top: 20%;
      z-index: 1;
      border: 1px solid color($colors, primary, base);
      overflow: hidden;
      border-radius: 4px;
      line-height: 50px;
      font-size: 1.2em;
      text-align: center;
      color: color($colors, primary, base);
    }

    .bars-position {
      height: 50px;
      width: 20%;
      background: color($colors, secondary, base);
      margin: -50px 0 0 -50px;
      margin-left: 5%;
      top: 20%;
      z-index: 1;
      border: 1px solid color($colors, danger, base);
      overflow: hidden;
      border-radius: 4px;
      line-height: 50px;
      font-size: 1.2em;
      text-align: center;
      color: color($colors, danger, base);
    }

    // }

    .bar {
      position: fixed;
      height: 35px;
      width: 70%;
      background: color($colors, primary, base);
      margin-left: 15%;
      z-index: 4;
      top: 0%;
      margin-top: 65%;
      border: 1px solid color($colors, nav-border-bottom, base);
      border-radius: 4px;

      font-size: 1.1em;
      text-align: center;

      color: white;
      animation-direction: alternate;
      animation-name: wiki;
      animation-duration: 0.7s;
      animation-iteration-count: 1;

      @media only screen and (min-width: 1024px) {
        margin-top: 55%;

      }

      .icon {
        position: absolute;
        font-size: 1.6em;
        right: 2%;
        padding: 0px;
        color: color($colors, light, base);
        animation-name: left_right;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        display: inline;
      }

      .textleft {
        float: left;
        border: 1.4px solid color($colors, light, base);
        padding: 9px;
        z-index: 3;
        border-radius: 4px;
        font-size: 0.9em;
      }

    }

    .centerMarker {
      z-index: 1;
      margin-top: 45%;

      .middy {
        position: absolute;
        left: 45%;
        margin-left: 5%;
        background: color($colors, shade, base);
        height: 30px;
        top: 0%;
        margin-top: 75%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 0.65%;

        @media only screen and (min-width: 1024px) {
          margin-top: 60%;
        }

      }

    }

    #nugget {
      position: fixed;
      z-index: 2;
      background: color($colors, primary, base);
      height: 15px;
      width: 4%;
      left: 45%;
      margin-left: 3.4%;
      margin-top: -4% !important;
      // top: 30% !important;
      border-radius: 50px;
    }

    @media only screen and (min-width: 1024px) {
      #nugget {
        position: fixed;
        z-index: 2;
        background: color($colors, primary, base);
        height: 15px;
        width: 4%;
        left: 45%;
        margin-left: 3.4%;
        margin-top: -1% !important;
        // top: 30% !important;
        border-radius: 50px;
      }

    }

    .bottom-list {
      margin-top: 90%;
      overflow-x: auto;
      .my-grid {
        width: auto;

        .carMarker {
          height: 40px;
          margin-right: 18.3%;
          margin-left: 20.3%;
          z-index: 1;
          vertical-align: middle;
          border-radius: 50px;
          display: inline-flex;
          font-size: 1.5em;
          text-align: center;
          border: 1.2px solid color($colors, lighters, base);
          //color: color($colors, primary, base);;

          .itemPics {
            width: 100%;
          }

        }

      }
    }

    .scroll {
      height: 100%
    }

    #map {
      width: 100%;
      height: 100%;
    }

    .bottom-bar {
      height: 150px;
      width: 100%;
      background: #FFFFFF;
      position: absolute;
      margin: -50px 0 0 -50px;
      margin-left: 0%;
      bottom: 0%;
      z-index: 1;
      border: 1px solid color($colors, nav-border-bottom, base);
      animation-direction: alternate;
      animation-name: wiki;
      animation-duration: 0.7s;
      animation-iteration-count: 1;
      border-radius: 4px;

      button {
        bottom: -106px;
        height: 35px;
        text-align: center;
      }

      .gutton {
        bottom: -7.5px;
        border-radius: 4px;
        height: 35px;
        width: 96%;
        margin-left: 2%;
        border: 1px solid color($colors, primary, base);
      }

      .text {
        padding-bottom: 0px;
        font-size: 1.3em;
      }
    }

    .bottom-bar2 {
      height: 60px;
      width: 100%;

      position: absolute;
      margin: -50px 0 0 -50px;
      margin-left: 0%;
      bottom: 0%;
      z-index: 1;
      animation-direction: alternate;
      animation-name: wiki;
      animation-duration: 0.7s;
      animation-iteration-count: 1;
      button {
        bottom: -106px;
        height: 32px;
        text-align: center;
      }

      .gutton {
        bottom: -7.5px;
        border-radius: 4px;
        width: 30%;
        margin-left: 35%;
      }

      .text {
        padding-bottom: 0px;
        font-size: 1.4em;

        ion-spinner {
          top: 10px;
        }
      }
    }

    .bottom3-container {

      background: color($colors, light, base);

      text-align: center;
      color: color($colors, deep, base);

      .bottom-bar3 {
        height: 100px auto;
        width: 100%;
        background: rgb(255, 255, 255);
        position: absolute;
        margin: 0px 0 0 0px;
        margin-left: 0%;
        bottom: 20%;
        z-index: 1;
        border-radius: 4px;
        animation-direction: alternate;
        animation-name: wiki;
        animation-duration: 0.7s;
        animation-iteration-count: 1;

        .profile-pic {
          width: 5em;
          height: 5em;
          border: 1px solid #3E3C3C;
          border-radius: 50px;
          object-fit: cover;
        }

        .logos {
          padding: 0px;
          ion-icon {
            font-size: 1.1em;
            color: color($colors, primary, base);
          }
        }

        .text {
          padding: 0px;
          font-size: 1.4em;
          margin-top: 6%;
        }

        ion-icon {
          font-size: 2.3em;
          color: color($colors, primary, base);
        }
      }

    }
  }

  .myCentre {
    z-index: 3;
    margin-top: 65%
  }

  #top-buttons {
    border-radius: 4px;
    height: 100px auto;
    width: 100%;
    overflow-x: auto;
    background: color($colors, nav-color, base);
    position: absolute;
    margin: 0px 0 0 -50px;
    margin-left: 0%;
    bottom: 0%;
    z-index: 1;
    border-top: 1px solid color($colors, nav-border-bottom, base);
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.7s;
    animation-iteration-count: 1;

    color: color($colors, primary, base);
    animation-name: wiki;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    button {
      background: color($colors, primary, base);
      border-radius: 4px;
    }
    ion-icon {
      font-size: 1.6em;
      color: color($colors, nav-color, base);

    }
  }

  #header {
    font-size: 1.32em;
    text-align: center
  }

  #location {
    text-align: center;
    padding-left: 17px;
  }
  #mlocation {
    text-align: center;
    padding-left: 17px;
  }

  #destination {
    text-align: center;
    padding-left: 17px;

  }

  .locate_button {
    z-index: 3;
    margin-left: 85%;
    //margin-top: 5%;
    //width: 16%;
    background: none !important;
    .locate_icon {
      position: fixed;
      font-size: 1.4em;
      left: 84.1%;
      top: 20.5%;
      margin-top: 3%;
      background: color($colors, nav-color, base);
      border: 1px solid color($colors, nav-border-bottom, base);
      padding: 5px;
      border-radius: 4px;
    }

  }

}

