<ion-content class="no-scroll">

  <!-- This is the cordova google map -->
  <div id="map">

    <!-- This is the navigation bar containing sidemenu btn and booklater btn -->
    <div class="topBar" [hidden]="pop.onRequest">

      <!-- sidemenu btn -->
      <button no-lines detail-none class='button' clear padding icon-only ion-button menuToggle>
        <ion-icon name="ios-menu"></ion-icon>
      </button>

      <!-- booklater btn -->

    </div>

    <!-- These are the location bar and destination bar -->
    <div class="bars">
      <!-- location bar -->
      <button no-lines detail-none (click)="showSelectDevice()" [hidden]="!cMap.onLocationbarHide" ion-item class="bars-locate" icon-start>
        <ion-icon color='deep' name="locate"></ion-icon>
        <div *ngIf="!selector" id="location">{{name}}</div>
        <div *ngIf="selector" id="mlocation">{{'SELECT'|translate}}</div>
      </button>
    </div>

    <div class="itemselect" *ngIf="selector" >
      <ion-scroll id="scrollid" [style.height.vh]="height" scrollY="{{scroll}}" scrollX="false">
        <ion-list #listStyle>
          <ion-item class="itemHeight" (click)="setLocation(ph.user.name, null, cMap.userLocation.lat, cMap.userLocation.lng)">
            {{ph.user.name}}
          </ion-item>
          <ion-item class="itemHeight" (click)="setLocation(device.name, device.sigfoxID, device.location.lat, device.location.lng)" *ngFor="let device of devices">
            {{device?.name}}
          </ion-item>
        </ion-list>
      </ion-scroll>
    </div>

    <!-- This is the little location btn on the top left corner -->
    <!--button *ngIf='!(startedNavigation||selector)' class='locate_button' no-lines detail-none icon-only clear
            (click)="setLocation(location.lat, location.lng)">
      <ion-icon class='locate_icon' color='primary' name="locate"></ion-icon>
    </button-->

    <button ion-button class="lock-button" icon-only color="soft-red" (click)="lock()">
      <ion-icon class="lock-icon" name="lock"></ion-icon>
    </button>


    <!-- marker/pin situated in the center -->

    <!-- obligatory id's to include -->
    <div padding id='header'></div>
    <div id="destination"></div>
    <div id="onbar"></div>
    <div id="car"></div>
    <div id="bus"></div>
    <div id="classic"></div>

  </div>

</ion-content>
