page-booklater {

    .top-items{
       border-radius: 4px;
       ion-item{
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    }

 .followed-items{
     margin-top: 10%;
    

     ion-item{
         margin-top: 10px;
         margin-bottom: 10px;
         border-radius: 4px;
     }
 }
}
