page-devices {

  ion-header {
    font-family: 'Humanst';
  }

  ion-content {
    font-family: 'Humanst';
  }

  .newbutton {
    background: color($colors, primary, base);
    border-radius: 5px;
  }

}
