<ion-header no-border>
    <ion-toolbar>
      <ion-title>Enter address</ion-title>
      <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <button detail-none  [ngStyle]="{'bottom': 0 + 'px'}" icon-start ion-item color="nav-color" (click)="chooseHome()">
          <ion-icon color='primary' name="ios-home"></ion-icon>
          <span *ngIf="home">Home</span>
          <span *ngIf="!home" (click)='gotoSetting()'>Add Home</span>
        </button>
        <button detail-none  [ngStyle]="{'bottom': 0 + 'px'}" icon-start ion-item color="nav-color" (click)="chooseWork()">
            <ion-icon color='primary' name="ios-briefcase"></ion-icon>
            <span *ngIf="work">Work</span>
            <span *ngIf="!work"  (click)='gotoSetting()'>Add Work</span>
          </button>
    <ion-list>
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
        {{ item }}
      </ion-item>
    </ion-list>
  </ion-content>